:root {
    
    --base-color-bg1: 29; 
    --base-color-bg2: 33; 
    --base-color-red: 0; 
    --base-color-yellow: 40; 

    --black: hsla(var(--base-color-red),0%, 0%, 1);
    --white: hsla(var(--base-color-red),0%, 100%, 1);

    --red-color:hsla(var(--base-color-red), 63%, 47%, 1);
    --yellow-color:hsla(var(--base-color-yellow), 100%, 50%, 1);
    
    --theme-bg:hsla(var(--base-color-bg1), 35%, 78%, 1);
    --light-theme-bg: hsla(var(--base-color-bg2), 38%, 80%, 1);

    --regular-font: Montserrat-Regular;
    --medium-font: Montserrat-Medium;
    --semibold-font: Montserrat-SemiBold;
    --bold-font: Montserrat-Bold;
}

@font-face { font-family: Montserrat-Regular; src: url('../fonts/Montserrat-Regular.otf'); } 
@font-face { font-family: Montserrat-Medium; src: url('../fonts/Montserrat-Medium.otf'); } 
@font-face { font-family: Montserrat-SemiBold; src: url('../fonts/Montserrat-SemiBold.otf'); } 
@font-face { font-family: Montserrat-Bold; src: url('../fonts/Montserrat-Bold.otf'); }

html {
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: var(--regular-font);
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-color: var(--theme-bg);
    color: var(--black);
}
.nopadding{
    padding: 0px !important;
}
.sec-pad{
    padding: 100px 0px; 
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
p{
    font-size: 17px;
    line-height: 29px;
    font-family: var(--medium-font);
}
.big-font{
    font-size: 28px;
    line-height: 40px;
}
.regular{
    font-family: var(--regular-font)!important;
}
.semibold{
    font-family: var(--semibold-font)!important;
}
.light-bg{
    background-color: var(--light-theme-bg)!important;
}
.white-text{
    color: var(--white)!important;
}

/*header*/

.header{
    width: 100%;
    background-color: var(--yellow-color);
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
}
.sticky-bar{
    position: sticky;
    padding: 0px;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
}
.h-logo{
    font-family: var(--bold-font);
    font-size: 32px;
    line-height: 42px;
    color: var(--black);
    text-transform: uppercase;
}
.sticky-bar .logo{
    height: 95px;
}
.navbar{
    padding: 0px;
}
.navbar-light .navbar-brand {
    align-items: center;
    display: flex;
    padding: 0px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: var(--semibold-font);
    color: var(--black);
    padding: 35px 10px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-item.active .nav-link , .navbar-light .navbar-nav .nav-item .nav-link.active , .navbar-light .navbar-nav .nav-link:focus {
    color: var(--red-color);
}
@media (min-width: 991px){
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 25px;
        padding-left: 25px;
    }
    .nav-link-btn{
        padding: 8px 35px!important;
        color: #F8FDFF!important;
        margin-left: 25px;
    }
}
.navbar-toggler:focus{
    box-shadow: none;
    outline: 0;
}
.navbar-light .navbar-toggler {
    color: var(--black);
    border: none;
}
.navbar-toggler svg{
    color: var(--black);
}
#navbar-hamburger.show{
    display: block;
}
#navbar-hamburger, #navbar-close{
    display: none;
}
#navbar-close.show{
    display: block;
}
.dropdown-toggle{
    display: flex;
    align-items: center;
}
.dropdown-toggle::after{
    content: "\f107";
    border: none;
    margin-left: 0.5em;
    font: normal normal normal 16px/1 FontAwesome;
}
.dropdown-item {
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: var(--semibold-font);
    padding: 7px 20px;
    clear: both;
    font-weight: 400;
    color: var(--black)!important;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu {
    background-color: var(--yellow-color)!important;
    min-width: 13rem;
    border: none;
    border-radius: 0px;
    /*padding: 0px;*/
    overflow: hidden;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--red-color)!important;
    background-color: var(--yellow-color)!important;
}
.dropdown-item.active, .dropdown-item:active {
    color: var(--red-color)!important;
    background-color: var(--yellow-color)!important;
}
@media all and (min-width: 1200px) {
    .navbar .dropdown-menu.fade-up{ top:180%; transition: all ease .3s; display:block; opacity: 0; visibility: hidden; }
    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
}

/*content */

.inner-sec-hero{
    padding: 45px 0px;
}
.pt-70{
    padding-top: 70px;
}
.word-break{
    word-break: break-all;
}
.light-slant-bg {
    position: relative;
}
.light-slant-bg::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--light-theme-bg);
    transform: skewY(3deg);
}
.relative-9 {
    position: relative;
    z-index: 9;
}
.hero-title{
    font-family: var(--bold-font);
    font-size: 95px;
    line-height: 105px;
    margin-bottom: 30px;
}
.title{
    font-family: var(--bold-font);
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 30px;
}
.mini-title{
    font-family: var(--bold-font);
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 30px;
}
.theme-btn{
    background-color: #C52D2C;
    color: var(--white)!important;
    padding: 10px 35px;
    border-radius: 0px;
    font-size: 17px;
    box-shadow: none!important;
    outline: 0!important;
    transition: all ease .5s;
}
.theme-btn:hover{
    background-color: var(--black);
}
.border-2{
    border-bottom: 2px solid var(--black);
}
.service-list{
    padding-bottom: 25px;
}
.service-list:last-child{
    padding-bottom: 0px;
}
.band-image{
    transition: all ease .5s;
    cursor: pointer;
}
.band-image:hover{
    transform: scale(1.05);
}
.gallery-img{
    width: 100%;
    margin-top: 25px;
}
.btn-close {
    box-shadow: none!important;
    outline: 0!important;
}
.project-logo-div img{
    max-height: 130px;
    margin: 5px 20px;
}
.social-div-list .social-icon{
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color: var(--black);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-bg);
    font-size: 55px;
    margin: 15px 15px 0px;
    transition: all ease .5s;
}
.social-div-list .social-icon:hover{
    transform: translateY(-10px);
    color: var(--white);
    background-color: #262626;
}
.footer{
    padding: 40px 0px 20px;
    background-color: var(--black);
}
.hover-underline:hover{
    text-decoration: underline;
}

.form-group{
    margin-bottom: 30px;
}
.form-group label{
    font-size: 17px;
    margin-bottom: 8px;
}
.form-control{
    border-radius: 0px;
    background-color: var(--light-theme-bg)!important;
    border-color: var(--black)!important;
    font-family: var(--medium-font);
    color: var(--black);
    padding: 12px 20px;
    font-size: 17px;
    line-height: 28px;
    box-shadow: none!important;
    outline: 0!important;
}
